#input1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}
#input2 {
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    height: 50%;
    border: 1px solid black;
}
#input3 {
    position: absolute;
    left: 50%;
    top: 0;
    width: 50%;
    height: calc(100vh - 640px);
    border: 1px solid black;
}
#output1 {
    position: absolute;
    left: 50%;
    top: calc(100vh - 640px);
    width: 50%;
    height: 640px;
    border: 1px solid black;
}

#glCanvas {
    position: fixed;
}